. {
  margin: 0;
  padding: 0;
}

a{
  color: #fff;
  tex-decoration:none;
}

a:hover {
  opacity: 0.7i
}

.logo {
  font-size: 24px
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav {
  display: flex;
  jutify-content: space-around;
  align-items: center;
  font-family: system-ui,-apple-system, Helvetica, Arial, sans-serif;
  background: #23232e;
  height: 8vh;
}
